<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hermes</title>
	</head>
	<body>
		<a class="button" href="/login">Sign in</a>
	</body>
</html>
